.form-control-coupon {
    width: 200px
}

.coupon-name {
    font-size: 18px;
}

.coupon-discount {
    font-size: 14px
}

.coupon-apply {
    align-self: center;
}

.coupon-card {
    border-radius: 10px;
}

